@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Unbounded:wght@200..900&display=swap');
 
* {margin:0; padding:0; box-sizing:border-box; font-family:'Poppins', sans-serif;}
    body {
      background:#0f172a;
      color:white;
    }

    nav {
      display:flex;
      justify-content:space-between;
      padding:20px;
      background:#020617;
      position:sticky;
      top:0;
    }

    nav a {color:white; text-decoration:none; margin:0 10px;}

    .hero {
      display:flex;
      align-items:center;
      justify-content:center;
      padding:50px 20px;
      text-align:center;
    }

    .hero-2 img{

      width: 250px;
      height: 400px;
      padding: 5px;
      border-radius: 25px;
      margin-top: 20px;
      transition: 0.3s;

    }
    .hero-2 img:hover{
      transform: scale(1.07);
    }
    .hero img {
      width:600px;
      height: 600px;
      border-radius:50%;
      animation: float 3s ease-in-out infinite;
    }
    

    .hero-text p {
      color:#94a3b8;
      animation: float 3s ease-in-out infinite;
    }
    .hero-text h2{
      animation: float 3s ease-in-out infinite;
    }
    .hero-text h1:hover{
      transform: scale(1.05);
      color: #22c55e;
    }
    .hero-text hr{
      
      margin-bottom: 20px;

    }
    @keyframes float {
      0% {transform: translateY(0);} 
      50% {transform: translateY(-10px);} 
      100% {transform: translateY(0);} 
    }

   
    section {padding:50px 20px; text-align:center;}

    .projects {
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
      gap:20px;
      color: #22c55e;
    }

    .card {
      background:#1e293b;
      padding:20px;
      border-radius:10px;
      transition:0.3s;
    }

    .card:hover {
      transform: scale(1.05);
      color: #22c55e99;
    }

    /* Social Icons */
    .socials {
      margin-top:50px;
    }

    .socials a {
      color:white;
      margin:0 10px;
      font-size:30px;
      transition:0.5s;
    
    }

    .socials a:hover {
      color:#22c55e;
      transform: scale(1.2);
    }

    footer {
      text-align:center;
      padding:20px;
      background:#000000;
      margin-top:20px;
    }

    @media(max-width:768px) {
      .hero {flex-direction:column;}
    }

    /* Section */
.cv-section {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: white;
  text-align: center;
}

/* Container */
.cv-box {
  max-width: 700px;
  padding: 40px 20px;
}

/* Icon */
.icon {
  font-size: 50px;
  margin-bottom: 20px;
  opacity: 0.8;
}

/* Title */
.cv-box h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

/* Text */
.cv-box p {
  font-size: 18px;
  color: #94a3b8;
  margin-bottom: 30px;
  line-height: 1.6;
}

/* Button */
.cv-btn {
  display: inline-block;
  padding: 14px 28px;
  background: linear-gradient(135deg, #6366f1, #4f46e5);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
  transition: all 0.3s ease;
  box-shadow: 0 10px 25px rgba(99, 102, 241, 0.3);
}

/* Hover effect */
.cv-btn:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 15px 35px rgba(99, 102, 241, 0.5);
}
.format {
  display: block;
  margin-top: 20px;
  color: #64748b;
}
